/* Documentation: I used https://www.w3schools.com/cssref/pr_grid.php */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* page structure */
.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* layout */
.top {
    display: grid;
    grid-template-columns: 14rem 1fr 10rem;
    border-bottom: 0.125rem solid black;
    /* pushes footer down */
    flex: 1; 
    min-height: 0;
}

/* left */
.sidebar {
    border-right: 0.125rem solid black;
    padding: 1em;
}

.logo {
    width: 3em;
    margin-bottom: 1em;
}

/* remove form spacing*/
.departments-title {
    font-weight: bold;
}

/* make buttons look like links */
.departments button {
    background: none;
    border: none;
    padding: 0;
    margin: 0 0 0.5em 0;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font: inherit;
}

.header-title {
    text-align: center;
    padding: 1rem;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align to top instead of center */
    justify-content: flex-start;
    min-height: 0;
    overflow-y: auto;
}

.header-title h1 {
    /* aligns with logo/about */
    margin-top: 0.5rem;
    /* pushes search down */
    margin-bottom: 6rem;
}

/* search */
.search-bar input {
    width: 20em;
    padding: 0.5em;
    border: 0.1em solid black;
}

/* right */
.top-links {
    padding: 1em;
    border-left: 0.125rem solid black;

    display: flex;
    /* horizontal center */
    justify-content: center;
    /* align to top */
    align-items: flex-start;
}

/* link styling (about + contact) */
a {
    color: blue;
    text-decoration: underline;
}

/* bottom */
.footer {
    text-align: center;
    padding: 1em;
    border-top: 0.125rem solid black;
}

/* about page elements added */
.about-content h1 {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
}

.bio-paragraph {
    width: 70%;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.5;
}
